**/.idea/*
src/Flash.Configuration.Common/obj/**
src/Flash.Configuration.Common/bin/**
src/Flash.Configuration.Core/obj/**
src/Flash.Configuration.Core/bin/**
src/Flash.Configuration/obj/**
src/Flash.Configuration/bin/**

src/tests/Flash.Configuration.Tests/bin/**
src/tests/Flash.Configuration.Tests/obj/**
src/tests/Flash.Configuration.Common.Tests/bin/**
src/tests/Flash.Configuration.Common.Tests/obj/**

src/samples/Flash.Configuration.TestConsole/bin/**
src/samples/Flash.Configuration.TestConsole/obj/**
src/samples/Flash.Configuration.WebApi/bin/**
src/samples/Flash.Configuration.WebApi/obj/**

**/*.user