**/.idea/*
src/Flash.Configuration.Common/obj/**
src/Flash.Configuration.Common/bin/**
src/Flash.Configuration.Core/obj/**
src/Flash.Configuration.Core/bin/**
src/Flash.Configuration/obj/**
src/Flash.Configuration/bin/**
src/Flash.Configuration.WinForms/obj/**
src/Flash.Configuration.WinForms/bin/**
src/Flash.Configuration.Updater/obj/**
src/Flash.Configuration.Updater/bin/**
src/Flash.Configuration.Wpf/obj/**
src/Flash.Configuration.Wpf/bin/**

src/tests/Flash.Configuration.Updater.Tests/bin/**
src/tests/Flash.Configuration.Updater.Tests/obj/**
src/tests/Flash.Configuration.Common.Tests/bin/**
src/tests/Flash.Configuration.Common.Tests/obj/**

src/samples/Flash.Configuration.WebApi/bin/**
src/samples/Flash.Configuration.WebApi/obj/**
src/samples/Flash.Configuration.WpfApp/bin/**
src/samples/Flash.Configuration.WpfApp/obj/**
src/samples/Flash.Configuration.WorkerService/bin/**
src/samples/Flash.Configuration.WorkerService/obj/**
src/samples/Flash.Configuration.WinFormsApp/bin/**
src/samples/Flash.Configuration.WinFormsApp/obj/**
src/samples/Flash.Configuration.WebApi_AOT/bin/**
src/samples/Flash.Configuration.WebApi_AOT/obj/**
src/samples/Flash.Configuration.Console/bin/**
src/samples/Flash.Configuration.Console/obj/**

src/NuGetPackages/**

**/*.user